a{
    @include typeface-2(p2, desktops);
    text-decoration: none;
    color: $black-normal;
    transition: .5s ease;

    &:hover{
        opacity: .9;
    }
}

.btn {
    background: linear-gradient(220.94deg, $secondary-normal 14.43%, $primary-normal 85.28%);
    border-radius: 16px;
    padding: 12px 32px;
    transition: .3s ease;
    color: $white-light;

    box-shadow: 0px 17px 17px rgba(169, 80, 196, 0.13), 0px 5.125px 5.125px rgba(169, 80, 196, 0.0847066), 0px 2.12866px 2.12866px rgba(169, 80, 196, 0.065), 0px 0.769896px 0.769896px rgba(169, 80, 196, 0.0452935);

    &:hover{
        transform: scale(1.02);
        box-shadow: 0px 17px 31px rgba(169, 80, 196, 0.27), 0px 5.125px 9.34559px rgba(169, 80, 196, 0.175929), 0px 2.12866px 3.88168px rgba(169, 80, 196, 0.135), 0px 0.769896px 1.40393px rgba(169, 80, 196, 0.094071);

    }

}