// colors of project 

// Brand Colors

// Brand Colors
$primary-normal: #82269E;
$primary-dark: #701F88;
$primary-light: #9C4FB4;

$secondary-normal: #a950c4;
$secondary-dark: #9142a8;
$secondary-light: #bb71d2;

// Neutral-colors
$black-normal: #232224;
$black-dark: #161617;
$black-ligth: #353436;

$white-normal: #f7f2fa;
$white-dark: #EDEAEF;
$white-light: #fefbff;

// Gray scale
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #A6A6A7;

// Auxiliary colors

$red-normal: #EB3D3D;
$red-dark: #D03333;
$red-light: #F05454;

$green-normal:#32D957;
$green-dark: #28BB49;
$green-light: #50E170;

$yellow-normal: #FFCE52;
$yellow-dark: #D9B043;
$yellow-light: #FFD76B;