// Layout of project [responsive]

// Container devices

$container-xl: 1440px; // Desktop 
$container-l: 1140px; // Tablet
$container-m: 960px; // Mobile
$container-s: 540px; // Mobile small

// Mixins of media query

@mixin responsive($device){ // dispositivo 
    @if $device == xl{
        // For resolutions upper than 1440px
        @media screen and (min-width: $container-xl){
            @content;
        }
    }
    
    @else if $device == l {
        // For resolutions between 1140px(piso) and 1440px(teto)
        @media screen and (max-width: $container-xl) and (min-width: $container-l){
            @content;
        }
    }
    
    @else if $device == m {
        // For resolutions between 960px(piso) and 1140px(teto)
        @media screen and (max-width: $container-l) and (min-width: $container-m){
            @content;
        }
    }

    @else if $device == s {
        // For resolutions less than 960px [Abaixo de 960px]
        @media screen and (max-width: $container-m){
            @content;
        }
    }

    @else if $device == xs {
        // For resolutions less than 540px [Abaixo de 540px]
        @media screen and (max-width: $container-s){
            @content;
        }
    }

}