header {
    width: 100%;
    background-color: transparent;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);

    transition: .5s ease;

    position: fixed;
    z-index: 800;
}

.active-header {
    background-color: $white-normal;
    box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
}

// Classes DESKTOP

.navbar-desktop{
    max-width: $container-xl;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-desktop-item-1{
    flex: 1 1 auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-desktop-item-2{
    flex: 1 1 auto;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    width: 48px;
    height: 48px;
    border-radius: 8px;

    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-desktop {
    list-style: none;

    display: flex;
    align-items: flex;
    justify-content: flex-start;
}

.menu-item {
    margin-left: 16px;
}

.nav-link-desktop {
    display: inline-block;
    padding: 12px 16px;
    position: relative;
    
    border: 1px solid red;

    &::after{
        content: '';
        position: absolute;

        top: 42%;
        right: -3px;

        width: 7px;
        height: 7px;

        border-radius: 1px;
        transform: rotate(45deg);
        transition: .5s ease;

        border-bottom: 2px solid $primary-normal;
        border-right: 2px solid $primary-normal;


    }

    &:hover{
        opacity: .7;
        &::after{
            top: 45%;
        }
    }
}